[user]
	name = Oleksii Filonenko
	email = brightone@protonmail.com
	signingkey = F5493B7F93725578FDD3D0B8A1BC8428323ECFE8
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[github]
	user = filalex77
[core]
	editor = vim
[alias]
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
